body
{
    background-image: url("/static/app1/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    color: white;
}
button
{
	color: white; 	
}

.logo{
  width: 172px;
  height: 40px;
   
}
nav {
  
  background-color: rgba(0,0,0,0.1);

}
.box1
{
  padding:3%;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.input-group input 
{
    height: 40px; 
    
     
}
.input-group span
{
    width: 40px;

}
.form-group
{
  padding-left: 9%;
}
input{
  color: black;
}
.down1
{
  margin-top: 8px;
}
.input-group span .glyphicon{
  color:#107360;
}
.size{
  font-size: 18px;
}
a{
  border-bottom-color: none; 
}
.glyphicon-info-sign
{
  font-size: 30px;
}
span .glyphicon-info-sign{
    position: relative;
}
span:over {
    content:attr(title);
    padding:5px;
    border:1px solid #ccc;
    top:5px;
    right:10%;
    background: #bada55;
}