@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
body
{
   background-color: #eeeeee;

}
.logo{
  width: 172px;
  height: 46px;
   
}
header>nav{  
  background-color: #15221e; 
}
aside>nav{  
  background-color: #1f2f2a; 
}
.down{
    padding-top: 10px;
}
header li a, aside li a
{   
    
    color:white;
    font-size: 15px;
}
ul
{
    list-style-type:none;
}
ul #demo{
    padding-left: 0px;
}
ul  #demo  li a{
    display:block;
    padding-top: 15px;
    padding-bottom: 15px; 

}
a:focus, a:hover {
    color: white;
    text-decoration: none;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;        
        width: 200px;        
        background-color: #32463f;
        bottom: 0;       
        
    }
.side-nav li a 
{
    width: 200px;    
    
}

.side-nav li a:hover,
.side-nav li a:focus 
{
    color:#b6b224;
    border-left: 2px solid #b6b224;
    background-color: #202f2a;        
}
.dropdown-menu{      
    background-color: #32463f;
}
.dropdown-menu li a {      
    color:white;
}

}
@media(min-width:768px) {
section
{
    padding-left:220px; 

}
}

