@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
body
{
   background-color: #eeeeee;

}
.logo{
  width: 172px;
  height: 46px;
   
}
header>nav, aside>nav{  
  background-color: #32463f; 
}

.down{
    padding-top: 10px;
}
header li a, aside li a
{   
    
    color:white;
    font-size: 15px;
}
ul
{
    list-style-type:none;
}
.collapse{
    padding-left: 0px;
}
#demo li a{
    display:block;
    padding-top: 15px;
    padding-bottom: 15px;

}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;        
        width: 200px;        
        background-color: #32463f;
        bottom: 0;       
        
    }
.side-nav li a 
{
    width: 200px;    
    border-bottom: 2px solid white;
}

.side-nav li a:hover,
.side-nav li a:focus 
{
    color:#32463f;
    background-color: white;        
}
.dropdown-menu{      
    background-color: #32463f;
}
.dropdown-menu li a {      
    color:white;
}

}
@media(min-width:768px) {
section
{
    padding-left:220px; 

}
}

