
a:hover , a:focus{
  text-decoration: none;
} 
.center{
    margin-top: 5%;
    margin-bottom: 15%;
    
}

.title
{
  font-family:"Source Sans Pro";
  padding-left: 10%;
  padding-top: 10%;

}
.boy{
	margin-top: 25%;
}
