
#page-wrapper {
    margin-top: 100px;
    font-size: 15px;
	width: 100%;
      padding: 0;
   
}
nav {
    color: white;
    font-size: 15px;
}
ul
{
    list-style-type:none;
}
b{
    font-size: 20px;

}


.fontsize
{
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 0;
        
}
.first{
	
	float :left;
}

.row
{
	margin-top: 20px;
	margin-left: 20px;
	
}
 .glyphicon-ok-sign
{
	color: green; 
	font-size: 15px;
}
 .glyphicon-remove-sign ,.glyphicon-trash,.glyphicon-edit
{
	color: red; 
	font-size: 15px;
}

.container
{
	margin-top:40px;
	width: 100%;
	
}
button
{
	color:#d5e8e0;
	background-color:#32463f;
	
}
div .down{
    margin-top: 15%;
}

