body {
    background-image: url("/static/app1/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}

.logo {
    max-width: 100%;
}

.boy {
    max-width: 100%;
}

.down {
    margin-top: 15%;
}

.center {
    margin-top: 25%;
}

h1 p {
    padding-top: 2%;
}

h1.title {
    font-size: 40px;
    color: red;
    font-weight: 300;
}

hr {
    width: 100%;
    color: gray;
}

.input-group input {
    height: 45px;
    margin: 0px;
    padding: 0px;
}

.input-group span {
    width: 35px;
}
