
{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.js' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'app1/css/base1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/css/dash1.css' %}">

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script> 
  
  <title> Login page</title>
</head>
<body>
  <div id="wrapper">
    <header>
      <nav class="navbar navbar-fixed-top" >
        <div class="container-fluid">
          <div class="navbar-header">
              <a href="" id="bottle" >
                      <img class="logo" src="{% static 'app1/images/logonew.png' %}" alt="logo" /> 
              </a>
          </div> 
              <ul class=" navbar-right">                
                <li class="dropdown down">
                  <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                      <span class="glyphicon glyphicon-user"></span>
                      {{request.user.first_name}} {{request.user.last_name}}
                      <span class="glyphicon glyphicon-menu-down"></span>
                  </a> 
                  <ul class="dropdown-menu">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-envelope"></span> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-gear"></span> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/app1/logout/"><span class="glyphicon glyphicon-power-off"></span> Log Out</a>
                        </li>
                    </ul>
                </li>
              </ul>                        
        </div>      
      </nav>
    </header>
    <aside>
      <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="/app1/dashboard/"><span class="glyphicon glyphicon-home">
                  </span>  Home</a>
                    </li>                   
                    <li>
                        <a href="/app1/dashboard/products/"><span class="glyphicon glyphicon-inbox">
                  </span> Products</a>
                    </li>                    
                   <li>
                        <a href="#"><span class="glyphicon glyphicon-gift">
                  </span> Offers</a>
                    </li>
                    <li >
                           <a href="javascript:;" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-stats">
                            </span> Reports  <b class="caret"></b></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-pie-chart">
                                </span> Product</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-charts">
                                </span> Trend</a>
                            </li>                        
                        </ul>
                    </li>                    
                    <li>
                        <a href=""><span class="glyphicon glyphicon-cog">
                        </span> Settings</a>
                    </li>
      </ul>
    </aside>
    <section>
        <ol class="breadcrumb">
          <li>Home</li>
          
        </ol>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
                <div class="panel first">
                    <span class="glyphicon glyphicon-inbox">                               </span><p>100 Products</p>
                </div>
                <div class="panel second">
                    <span class="glyphicon glyphicon-gift">
                    </span><p>50 Offers</p>
                </div>
                <div class="panel third">
                    <span class="glyphicon glyphicon-thumbs-up">
                      </span><p>XYZ Products</p>
                </div>
                <div class="panel fourth">
                      <span class="glyphicon glyphicon-thumbs-up">
                      </span><p>XYZ Category</p>
                </div>
            </div>
            <div class="col-md-9">
              <div class="panel panel-success">
                <div class="panel-heading">ACTIVITIES
                </div>
                <div class="panel-content">
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                  <hr> 
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                  <hr> 
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                  <hr> 
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                  <hr> 
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                  <hr> 
                  <a href="">xyz</a> Product added
                        <div class="pull-right">12/1/2017 1.30pm</div>
                </div>
              </div>               
            </div>
          </div>
        </div>
    </section>
  </div>       
</body>
</html>
