{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" type="text/css" href="{% static 'app1/css/style.css' %}">

   <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.js' %}">


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>

<script type="text/javascript" src="{% static 'app1/js/form_validation.js' %}"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
  
  
  
  <title> Login page</title>
</head>
<body>

          <nav class="navbar navbar-inverse">
          <div class="container-fluid">
             <div class="navbar-header navbar-left">
                 <img class="logo" src="{% static 'app1/images/logo.jpg' %}" alt="logo" > 
             </div>
             <div class="navbar-header navbar-right">        
                <a href="/app1/register/"><button type="button" class="btn btn-warning pull-right btn-lg">Sign Up</button></a>
             </div>
          </div>
          </nav>   
         

    <div class="container" style="max-width:40%; padding: 5%;  background-color: lightgray;">
      
      {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
               <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
     <form class="form-horizontal" method="post" action="" >         
           
            {%csrf_token%}


          
        <div class="panel-title ">
          <h1 >Log In to QuickBiz</h1>
          <hr/>
        </div>
    
 
            <div class="form-group">
              {{ form.username.label_tag }}
              <div class="cols-md-10">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
                  </span></span>
                  {{form.username}}                      
                </div>

                  {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
              </div>
            </div>
            
            <div class="form-group">
              {{ form.password.label_tag }}
              <div class="cols-md-10">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
                  </span></span>
                  {{form.password}}                      
                </div>
              </div>
            </div>       
        
             <a href="">I Forget. Help!</a>
            <hr>
            <input type="submit" value="Log In"/>
    </form>
</div>
  </div>
</body>
</html>
