{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   

   <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app1/bootstrap/css/bootstrap.min.js' %}">


<link rel="stylesheet" type="text/css" href="{% static 'app1/css/base.css' %}">

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script type="text/javascript" src="{% static 'app1/js/reg_validation.js' %}"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
  

  <title> Registration page</title>
</head>
<body >

        <nav class="navbar ">
          <div class="container-fluid">
             <div class="navbar-header navbar-left">
                 <img class="logo" src="{% static 'app1/images/logonew.png' %}" alt="logo" > 
             </div>
          </div>
        </nav>
      
      <div class="container">
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
        <div class="row">
          <div class="col-md-4 col-md-offset-4 box1" >       
            <form class="form-horizontal" method="post" action="" id="contact_form" data-toggle="validator">     
             {%csrf_token%}
          
              <div class="panel-title text-center ">
                <h1 >User Info</h1>
                <hr/>
              </div>    
 
            <div class="form-group ">              
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope">
                    </span></span>
                    {{form.email}}                                   
                </div>                
                  {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
              </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope">
                    </span></span>
                    {{form.email1}}                                             
                </div>
                  {% if form.email1.errors %}
                    {% for error in form.email1.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
                  </span></span>
                  {{form.first_name}} 
                </div>
                  {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
                  </span></span>
                  {{form.last_name}}
                </div>
                  {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
                  </span></span>
                  {{form.password}}
                </div>
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}
            </div>

            <div class="form-group">
                <div class="input-group ">
                    <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
                  </span></span>
                  {{form.password1}}                                         
                </div>
            </div>
            <hr/>
          <div class="form-group">
            <p class="text-center"><input type="checkbox"  name="terms" required/> I accept the <u>Terms and Conditions</u></p>
            </div>
            <hr/>
            
            <div class="form-group">
                
              {{form.captcha}}
              {% if form.captcha.errors %}
                    {% for error in form.captcha.errors %}
                    {{ error }}
                    {% endfor %}
                  {% endif %}                         
            </div>          
            <input type="submit" class="btn btn-primary btn-lg  btn-block" value="signup"  />      
           
            </form>
          </div>
        </div>
      </div>  

      <!-- <nav class="navbar down1 ">
          <div class="container-fluid">
             <div class="navbar-header navbar-right">
                 Term and Conditions Privacy Statement @ 2017 
             </div>
          </div>
    </nav>   -->
</body>
</html>

